* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Times New Roman", sans-serif;
    background-color: #070508;
}

/*-- NavBar Styles --*/

.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 2rem;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    z-index: 1000;
}

.logo>a>img {
    width: 8rem;
}

.menu {
    display: flex;
}

.menu>li {
    padding-left: 2rem;
}

.menu>li>a {
    display: inline-block;
    font-size: 1.25rem;
    color: #FFFFFF;
    font-weight: 500;
    text-decoration: none;
    position: relative;
    text-align: center;
    transition: 0.15s ease-in-out;
}

.menu>li>a::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #00E5FF;
    transition: 0.3s ease-in-out;
}

.menu>li>a:hover:after {
    width: 100%;
}

.menu>li>a:hover {
    color: #00B8D4;
}

.open-menu , .close-menu {
    position: absolute;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}

.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.close-menu {
    top: 20px;
    right: 20px;
}

#check {
    display: none;
}

/*-- Hero Section Style --*/

#heroSection {
    height: 100vh;
    width: 100vw;
    position: relative;
}

.space-div {
    height: 8.274rem;
}

#Hero-Main-Bottom {
    height: calc(100vh - 8.274rem);
    display: grid;
    grid-template-columns: 2fr 1.5fr;
}

#Hero-Main-Bottom>div {
    height: 100%;
}

#Hero-Main-Bottom-Right {
    position: relative;
}

#Hero-Main-Bottom-Left {
    display: grid;
    grid-template-rows: 3fr 1fr 1fr;
    border: 2px solid red;
}

#Name-details {
    border: 1px solid yellow;
    position: relative;
}

#Name-details>div{
    width: 41.25rem;
    height: 13.875rem;
    position: absolute;
    bottom: 2.188rem;
    left: 0;
    right: 0;
    margin: auto;
    color: snow;
}

#Name-details>div>h2 {
    font-size: 2.063rem;
    font-family: sans-serif;
    font-weight: initial;
}

#Name-details>div>h1 {
    font-size: 4rem;
    font-family: sans-serif;
    font-weight: bold;
    color: #18FFFF;
    margin: 8px 0;
    text-shadow: 1px 1px 2px #00B8D4, 0 0 1em #2ca2ad, 0 0 0.2em #447275;
}

#Name-details>div>p {
    font-size: 1.25rem;
    font-family: sans-serif;
}
