* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Times New Roman", sans-serif;
    background-color: #070508;
    /*overflow-x: hidden;*/
}

/*-- NavBar Styles --*/

.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 2rem;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    z-index: 1000;
}

.logo>a>img {
    width: 8rem;
}

.menu {
    display: flex;
}

.menu>li {
    padding-left: 2rem;
}

.menu>li>a {
    display: inline-block;
    font-size: 1.25rem;
    color: #FFFFFF;
    font-weight: 500;
    text-decoration: none;
    position: relative;
    text-align: center;
    transition: 0.15s ease-in-out;
}

.menu>li>a::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #00E5FF;
    transition: 0.3s ease-in-out;
}

.menu>li>a:hover:after {
    width: 100%;
}

.menu>li>a:hover {
    color: #00B8D4;
}

.open-menu , .close-menu {
    position: absolute;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}

.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.close-menu {
    top: 20px;
    right: 20px;
}

#check {
    display: none;
}

/*-- Hero Section Style --*/

#heroSection {
    height: 100vh;
    width: 100vw;
    position: relative;
}

.space-div {
    height: 8.274rem;
}

#Hero-Main-Bottom {
    height: calc(100vh - 8.274rem);
    display: grid;
    grid-template-columns: 2fr 1.3fr;
}

#Hero-Main-Bottom>div {
    height: 100%;
}

#Hero-Main-Bottom-Right {
    position: relative;
    /*background-color: greenyellow;*/
}

#img-box {
    width: fit-content;
    height: fit-content;
    /*text-align: center;*/
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

}

#img-box>img {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 40%;
}

.liquid-shape {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -2;
    top: 8%;
}

.liquid-shape:nth-child(2) {
    filter: blur(50px);
}

#Hero-Main-Bottom-Left {
    display: grid;
    grid-template-rows: 3fr 1fr 1fr;
    /*border: 2px solid red;*/
}

#Name-details {
    /*border: 1px solid yellow;*/
    position: relative;
}

#Name-details>div{
    width: 41.25rem;
    height: 13.875rem;
    position: absolute;
    bottom: 1.563rem;
    left: 0;
    right: 0;
    margin: auto;
    color: snow;
    /*border: 1px solid yellow;*/
}

#Name-details>div>h2 {
    font-size: 2.063rem;
    font-family: sans-serif;
    font-weight: initial;
}

#Name-details>div>h1 {
    font-size: 4rem;
    font-family: sans-serif;
    font-weight: bold;
    color: #18FFFF;
    margin: 8px 0;
    text-shadow: 1px 1px 2px #00B8D4, 0 0 1em #2ca2ad, 0 0 0.2em #447275;
}

#Name-details>div>p {
    font-size: 1.25rem;
    font-family: sans-serif;
}

#Social-Media-Pic {
    position: relative;
    /*border: 1px solid greenyellow;*/
}

#Social-Media-Pic>div {
    width: 41.25rem;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}

#Social-Media-Pic>div>a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: transparent;
    border: 2px solid grey;
    border-radius: 50%;
    font-size: 1.9rem;
    color: #18FFFF;
    text-decoration: none;
    margin-right: 12px;
    transition: .5s;
}

#Social-Media-Pic>div>a:hover {
    background: #006674;
    color: #FFFFFF;
    border-color: #18FFFF;
    box-shadow:0 0 10px #18FFFF;
}

#Download-cv-btn {
    position: relative;
}

#Download-cv-btn>div {
    width: 41.25rem;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;

}

#Download-cv-btn>div>button {
    width: 10.063rem;
    height: 2.75rem;
    background-color: #00e5ff;
    font-family: Arial, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 22px;
    border: #00e5ff;
    box-shadow: 0 0 10px #00B8D4;
    transition: .5s;
}

#Download-cv-btn>div>button:hover {
    box-shadow: none;
}

/*-----------------------------------------------*/

/*== Section Title ==*/

.TitleDiv {
    height: 3.938rem;
    color: #FFFFFF;
}

.title {
    width: fit-content;
    height: fit-content;
    font-size: 3.625rem;
    -webkit-text-stroke: 1px #00B8D4;
    margin-left: 12vw;
    text-shadow: 1px 1px 1px #00B8D4, 0 0 1em #2ca2ad, 0 0 0.1em #447275;
}

/*-----------------------------------------------*/

/*-- About me Section Style --*/

#aboutMeSection {
    height: 100vh;
    width: 100vw;
}


#aboutMe-Bottom-Details {
    display: grid;
    grid-template-columns: 2fr 3fr;
    height: calc(100vh - (8.274rem + 3.625rem));
}

#AboutMe-detail-left-Image {
    display: flex;
    align-items: center;
    justify-content: center;
}

#aboutMeImageDiv {
    width: 25rem;
    height: 39.375rem;
    border-radius: 1.563rem;
    background: linear-gradient(45deg,  rgba(30,87,153,0) 0%,rgba(30,87,153,0.8) 15%,rgba(30,87,153,1) 19%,rgba(30,87,153,1) 20%,rgba(41,137,216,1) 50%,rgba(30,87,153,1) 80%,rgba(30,87,153,1) 81%,rgba(30,87,153,0.8) 85%,rgba(30,87,153,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    display: flex;
    align-items: center;
    justify-content: center;
}

#aboutMeImage {
    width: 23.125rem;
    height: 37.5rem;
    border-radius: 1.563rem;
}

#AboutMe-detail-right-Detail {
    display: grid;
    grid-template-columns: 0.5fr 3fr;
}

#AboutMe-detail-right-Detail>div:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
}

#AboutMe-detail-right-Detail>div:last-child {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#horizontalLine {
    width: 1.063rem;
    height: 18.75rem;
    background-color: #00E5FF;
    border-radius: 10px;
    box-shadow: rgba(0, 229, 255, 0.1) 0px 4px 16px, rgba(0, 229, 255, 0.1) 0px 8px 24px, rgba(0, 229, 255, 0.1) 0px 16px 56px;
}

#aboutMePara {
    width: 43.75rem;
    height: 12.5rem;
    color: #FFFFFF;
    font-size: 1.563rem;
}


/*-- Skill Section Style --*/

#skillSection {
    height: 100vh;
    width: 100vw;
}

#Skill-Bottom {
    display: grid;
    grid-template-rows: 2fr 2fr;
    height: calc(100vh - (8.274rem + 3.625rem));
}

#my-skills {
    display: flex;
    justify-content: space-around;

}

#my-skills>div {
    max-width: 1000px;
    margin-top: 10px;

}

.skills {
    display: flex;
    align-items: center;
}

.skills>div {
    margin: 20px;
}

.skills>div:first-child {
    width: 150px;
    color: #FFFFFF;
    font-family: sans-serif, Arial;
}

.skills>div:last-child>progress {
    width: 40vw;
    height: 2vh;
}

#my-skills-images {
    display: flex;
    justify-content: space-around;

}

#my-skills-images>div {
    max-width: 1000px;
    width: 60vw;
}

#skill-img>div>div {
    width: 80px;
    aspect-ratio: 1/1;
}

#skill-img {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

#skill-img>div {
    display: flex;
    align-items: center;
    justify-content: center;
}

#skill-img>div:first-child>div {
    background-image: url("/assets/images/java-logo.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#skill-img>div:nth-child(2)>div {
    background-image: url("/assets/images/mysql-logo.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#skill-img>div:nth-child(3)>div {
    background-image: url("/assets/images/HTML_logo.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#skill-img>div:nth-child(4)>div {
    background-image: url("/assets/images/CSS-Logo.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#skill-img>div:nth-child(5)>div {
    background-image: url("/assets/images/JavaScript-Logo.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#skill-img>div:last-child>div {
    background-image: url("/assets/images/Github-desktop-logo.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*-- Education Section Style --*/

#educationSection {
    width: 100vw;
    height: 100vh;
}

#education-bottom {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 3fr;
    height: calc(100vh - (8.274rem + 3.625rem));
}

#education-bottom>div {
    display: flex;
    align-items: center;
}

#educationDetailList>div {
    margin: 40px 10px;
    color: #FFFFFF;
}

#Education-Bottom-left-line {
    justify-content: center;
}

#lineInEdu {
    height: 470px;
    width: 5px;
    background-color: white;
    position: relative;
}

.eduCircle {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: #00B8D4;
    position: absolute;
    left: -13px;
}

#eduCircle4 {
    bottom: 0;
}

#eduCircle2 {
    top: 150px;
}

#eduCircle3 {
    top: 300px;
}

/*-- Gallery Section Style --*/

#gallerySection {
    width: 100vw;
    height: 100vh;
}

#gallery-bottom {
    display: grid;
    grid-template-rows: 2.5fr 4fr;
    height: calc(100vh - (8.274rem + 3.625rem));
}

#gallery-bottom-top {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.image-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

#image-01 {
    justify-content: flex-end;
}

#image-03 {
    justify-content: flex-start;
}

.top-image-border-box {
    width: 21.875rem; /*350px*/
    height: 14.375rem; /*230px*/
    background: linear-gradient(45deg,  rgba(30,87,153,0) 0%,rgba(30,87,153,0.8) 15%,rgba(30,87,153,1) 19%,rgba(30,87,153,1) 20%,rgba(41,137,216,1) 50%,rgba(30,87,153,1) 80%,rgba(30,87,153,1) 81%,rgba(30,87,153,0.8) 85%,rgba(30,87,153,0) 100%);
    border-radius: 10%;
    /*box-shadow: rgba(0, 229, 255, 0.16) 0px 3px 6px, rgba(0, 229, 255, 0.23) 0px 3px 6px;*/
    box-shadow: 0px 0px 10px #00e5ff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    width: 20.625rem; /*330px*/
    height: 13.125rem; /*210px*/
    border-radius: 10%;
}

#backImg01 {
    background-image: url("/assets/images/team.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#backImg02 {
    background-image: url("/assets/images/get-prise.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#backImg03 {
    background-image: url("/assets/images/friends.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#gallery-bottom-bottom {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#image-04 {
    justify-content: flex-end;
}

.bottom-image-border-box {
    background: linear-gradient(135deg,  rgba(30,87,153,0) 0%,rgba(30,87,153,0.8) 15%,rgba(30,87,153,1) 19%,rgba(30,87,153,1) 20%,rgba(41,137,216,1) 50%,rgba(30,87,153,1) 80%,rgba(30,87,153,1) 81%,rgba(30,87,153,0.8) 85%,rgba(30,87,153,0) 100%);
    border-radius: 10%;
    box-shadow: 0px 0px 10px #00e5ff;
    display: flex;
    align-items: center;
    justify-content: center;
}

#image-04-border-box {
    width: 20rem; /*320px*/
    height: 26.875rem; /*430px*/
}

#backImg04 {
    width: 18.75rem; /*300px*/
    height: 25.625rem; /*410px*/
    border-radius: 10%;
    background-image: url("/assets/images/me.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#image-5-6 {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}


.image-5-6-border-box {
    width: 21.875rem; /*350px*/
    height: 11.875rem; /*190px*/
}

.backImg-5-6 {
    width: 20.625rem; /*330px*/
    height: 10.625rem; /*170px*/
    border-radius: 10%;
}

#backImg05 {
    background-image: url("/assets/images/vexon.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#backImg06 {
    background-image: url("/assets/images/trip.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#image-07 {
    justify-content: flex-start;
}

#image-07-border-box {
    width: 20rem; /*320px*/
    height: 26.25rem; /*430px*/
}

#backImg07 {
    width: 18.75rem; /*300px*/
    height: 25rem; /*400px*/
    border-radius: 10%;
    background-image: url("/assets/images/alone.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


/*-- Get In Touch Section Style --*/

#contactSection {
    width: 100vw;
    height: 100vh;
}

#contact-bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: calc(100vh - (8.274rem + 3.625rem + 0.938rem));
}

#Contact-line {
    width: 100vw;
    height: 0.938rem; /*6px*/
}

#Contact-line>hr {
    height: 5px;
    background-color: #00e5ff;
    box-shadow: 0px 0px 10px #00e5ff;
}

#contact-bottom>div {
    /*border: 1px solid red;*/
}

#contact-bottom-left {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}


#contact-bottom-left-Top {
    display: grid;
    grid-template-columns: 1.2fr 2fr;
}


#contact-icon {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#contact-icon>div>div {
    margin: 50px 30px;
}

#contact-icon>div>div>img {
    width: 40px;
    height: 40px;
}

#contact-detail {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#contact-detail>div>div {
    margin: 75px 0;
}

#contact-detail>div>div>h3 {
    color: white;
}

#contact-bottom-left-Bottom {
    display: flex;
    align-items: center;
    justify-content: center;
}

#contact-bottom-left-Bottom>div>a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    background: #00e5ff;
    border-radius: 10%;
    font-size: 4.063rem; /*65px*/
    color: black;
    text-decoration: none;
    margin: 0 50px;
    box-shadow:0 0 10px #18FFFF;
}

#contact-bottom-right {
    display: grid;
    grid-template-rows: 0.3fr 0.5fr 0.3fr 0.5fr 0.3fr 0.5fr 0.3fr 1.5fr 1fr;
}

#contact-bottom-right>div {
    /*border: 1px solid green;*/
    max-width: 900px;
    display: flex;
    align-items: center;
}

.email-label-text-style {
    color: white;
    font-size: 1.25rem; /*20px*/
}

.input-small-field {
    width: 46vw;
    height: 4vh;
    background-color: #37474F;
    border: none;
}

#message {
    width: 46vw;
    height: 20vh;
    background-color: #37474F;
    border: none;
}

#email-submit-btn>div>input {
    width: 9.063rem; /*145px*/
    height: 3.125rem; /*50px*/
    background-color: #00e5ff;
    font-size: 1.25rem; /*20px*/
    font-family: Arial, sans-serif;
    font-weight: 600;
    border-radius: 22px;
    border: #00e5ff;
    box-shadow: 0 0 10px #00B8D4;
    cursor: pointer;
}

footer {
    position: relative;
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer>div {
    color: white;
    font-size: 1rem;

}


/*-- Assignment Section Style --*/

#assignmentSection {
    width: 100vw;
    height: 185vh;
}

#assignment-Bottom {
    height: calc(185vh - (8.274rem + 3.625rem));
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#assignment-Bottom>div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Assignment-box {
    width: 250px;
    height: 300px;
    border: 4px solid #00e5ff;
    display: grid;
    grid-template-rows: 1fr 4fr;
}

.Assignment-box:hover {
    box-shadow:0 0 10px #18FFFF;
    /*background-color: #37474F;*/
    background-color: #212b30;
}

.Assignment-box-Name {
    color: white;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#Assignment-01-Box-button {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.Assignment-box-button>div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Assignment-box-button>div>a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: transparent;
    border: 2px solid grey;
    border-radius: 50%;
    font-size: 1.3rem;
    color: #18FFFF;
    text-decoration: none;
}

.Assignment-box>div:nth-child(2)>div>a:hover {
    background: #006674;
    color: #FFFFFF;
    border-color: #18FFFF;
    box-shadow:0 0 10px #18FFFF;
}

#Assignment-02-Box-button {
    display: grid;
    grid-template-columns: 1fr;
}

.Assignment-Box-Bottom {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#assignment-03-git-repo>a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 2px solid grey;
    border-radius: 50%;
}

#assignment-03-git-repo>a:hover {
    background: #006674;
    color: #FFFFFF;
    border-color: #18FFFF;
    box-shadow:0 0 10px #18FFFF;
}

.Assignment-Box-Bottom>div>a {
    background: transparent;
    font-size: 1.3rem;
    color: #18FFFF;
    text-decoration: none;
}

.Assignment-Box-Bottom>div>a:hover {
    color: white;
}

.Assignment-Box-Bottom>div {
    display: flex;
    align-items: center;
    justify-content: center;
}

#assignment-04-git-repo>a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 2px solid grey;
    border-radius: 50%;
}

#assignment-04-git-repo>a:hover {
    background: #006674;
    color: #FFFFFF;
    border-color: #18FFFF;
    box-shadow:0 0 10px #18FFFF;
}

#Assignment-05-Box-button {
    display: grid;
    grid-template-columns: 1fr;
}

#Assignment-06-Box-button {
    display: grid;
    grid-template-columns: 1fr;
}

#assignment-06-git-repo>a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 2px solid grey;
    border-radius: 50%;
}

#assignment-06-git-repo>a:hover {
    background: #006674;
    color: #FFFFFF;
    border-color: #18FFFF;
    box-shadow:0 0 10px #18FFFF;
}

#Assignment-07-Box-button {
    display: grid;
    grid-template-columns: 1fr;
}

#assignment-07-git-repo>a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 2px solid grey;
    border-radius: 50%;
}

#assignment-07-git-repo>a:hover {
    background: #006674;
    color: #FFFFFF;
    border-color: #18FFFF;
    box-shadow:0 0 10px #18FFFF;
}

#Assignment-08-Box-button {
    display: grid;
    grid-template-columns: 1fr;
}

#assignment-08-git-repo>a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 2px solid grey;
    border-radius: 50%;
}

#assignment-08-git-repo>a:hover {
    background: #006674;
    color: #FFFFFF;
    border-color: #18FFFF;
    box-shadow:0 0 10px #18FFFF;
}

#Assignment-09-Box-button {
    display: grid;
    grid-template-columns: 1fr;
}

#assignment-09-git-repo>a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 2px solid grey;
    border-radius: 50%;
}

#assignment-09-git-repo>a:hover {
    background: #006674;
    color: #FFFFFF;
    border-color: #18FFFF;
    box-shadow:0 0 10px #18FFFF;
}

#Assignment-10-Box-button {
    display: grid;
    grid-template-columns: 1fr;
}

#assignment-10-git-repo>a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 2px solid grey;
    border-radius: 50%;
}

#assignment-10-git-repo>a:hover {
    background: #006674;
    color: #FFFFFF;
    border-color: #18FFFF;
    box-shadow:0 0 10px #18FFFF;
}

#Assignment-11-Box-button {
    display: grid;
    grid-template-columns: 1fr;
}

#assignment-11-git-repo>a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 2px solid grey;
    border-radius: 50%;
}

#assignment-11-git-repo>a:hover {
    background: #006674;
    color: #FFFFFF;
    border-color: #18FFFF;
    box-shadow:0 0 10px #18FFFF;
}

#Assignment-12-Box-button {
    display: grid;
    grid-template-columns: 1fr;
}

#assignment-12-git-repo>a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 2px solid grey;
    border-radius: 50%;
}

#assignment-12-git-repo>a:hover {
    background: #006674;
    color: #FFFFFF;
    border-color: #18FFFF;
    box-shadow:0 0 10px #18FFFF;
}


/*-- Project Section Style --*/

#projectSection {
    width: 100vw;
    height: 100vh;
}

#project-Bottom {
    height: calc(100vh - (8.274rem + 3.625rem));
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#project-Bottom>div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Project-box {
    width: 350px;
    height: 500px;
    border: 4px solid #00e5ff;
    display: grid;
    grid-template-rows: 3fr 1fr 1fr;
}

.Project-box>div {
    /*border: 2px solid red;*/
}

.project-image-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 342px;
    height: 295px;
}

.project-image-box>img {
    width: 342px;
    height: 295px;
}

.project-name {
    color: white;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-git-repo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-git-repo>div>a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: transparent;
    border: 2px solid grey;
    border-radius: 50%;
    font-size: 1.3rem;
    color: #18FFFF;
    text-decoration: none;
}

.project-git-repo>div>a:hover {
    background: #006674;
    color: #FFFFFF;
    border-color: #18FFFF;
    box-shadow:0 0 10px #18FFFF;
}

.Project-box:hover {
    box-shadow:0 0 10px #18FFFF;
    /*background-color: #37474F;*/
    background-color: #212b30;
}


/*-- Media Query --*/

@media all and (max-width: 1280px) {
    /*--- About Me Section ---*/
    #aboutMePara {
        width: 37.5rem;
        height: 13.75rem;
        font-size: 1.438rem;
    }

    #aboutMeImageDiv {
        width: 23.75rem;
        height: 37.5rem;
    }

    #aboutMeImage {
        width: 21.875rem;
        height: 35.625rem;
    }

    .title {
        font-size: 3rem;
    }

    /*--- Gallery Section ---*/
    .top-image-border-box {
        width: 20rem; /*320px*/
        height: 12.5rem; /*200px*/
    }
    .image {
        width: 18.75rem; /*300px*/
        height: 11.25rem; /*180px*/
    }
    #image-04-border-box {
        width: 18.75rem; /*300px*/
        height: 25.625rem; /*410px*/
    }
    #backImg04 {
        width: 17.5rem; /*280px*/
        height: 24.375rem; /*390px*/
    }
    .image-5-6-border-box {
        width: 18.75rem; /*300px*/
        height: 10.625rem; /*170px*/
    }
    .backImg-5-6 {
        width: 17.5rem; /*280px*/
        height: 9.375rem; /*150px*/
    }
    #image-07-border-box {
        width: 18.75rem; /*300px*/
        height: 25.625rem; /*410px*/
    }
    #backImg07 {
        width: 17.5rem; /*280px*/
        height: 24.375rem; /*390px*/
    }

    /*--- Project Section ---*/

    #projectSection {
        height: 185vh;
    }

    #project-Bottom {
        height: calc(185vh - (8.274rem + 3.625rem));
        grid-template-columns: 1fr;
    }

}

@media all and (max-width: 1230px) {

    /*--- Hero Section ---*/

    #Name-details>div {
        width: 37.5rem;
        height: 10.938rem;
    }

    #Name-details>div>h2 {
        font-size: 1.875rem;
    }

    #Name-details>div>h1 {
        font-size: 3.75rem;
    }

    #Social-Media-Pic>div {
        width: 37.5rem;
    }

    #Download-cv-btn>div {
        width: 37.5rem;
    }

    .liquid-shape {
        top: 10%;
    }

    /*--- About Me Section ---*/

    #aboutMePara {
        width: 31.25rem;
        height: 13.75rem;
        font-size: 1.313rem;
    }

    #aboutMeImageDiv {
        width: 21.875rem;
        height: 34.375rem;
    }

    #aboutMeImage {
        width: 20rem;
        height: 33.125rem;
    }

    /*--- Gallery Section ---*/

    .top-image-border-box {
        width: 18.75rem; /*300px*/
        height: 11.25rem; /*180px*/
    }

    .image {
        width: 17.5rem; /*280px*/
        height: 10rem; /*160px*/
    }

    #image-04-border-box {
        width: 17.5rem; /*280px*/
        height: 24.375rem; /*390px*/
    }

    #backImg04 {
        width: 16.25rem; /*260px*/
        height: 23.125rem; /*370px*/
    }


    .image-5-6-border-box {
        width: 17.5rem; /*280px*/
        height: 9.375rem; /*150px*/
    }

    .backImg-5-6 {
        width: 16.25rem; /*260px*/
        height: 8.125rem; /*130px*/
    }

    #image-07-border-box {
        width: 17.5rem; /*280px*/
        height: 24.375rem; /*390px*/
    }

    #backImg07 {
        width: 16.25rem; /*260px*/
        height: 23.125rem; /*370px*/
    }

    #image-05-top {
        position: relative;
    }

    #image-05-border-box {
        position: absolute;
        top: 8.5vh;
    }

    #image-06-bottom {
        position: relative;
    }

    #image-06-border-box {
        position: absolute;
        bottom: 8.5vh;
    }


    /*--- Contact Section ---*/

    #contact-bottom-left-Bottom>div>a {
        margin: 0 40px;
    }

    #contact-bottom-left-Top {
        grid-template-columns: 0.8fr 2fr;
    }


}

@media all and (max-width: 1024px) {

    /*--- Hero Section ---*/

    #Name-details>div {
        width: 34.063rem;
    }

    #Name-details>div>h2 {
        font-size: 1.75rem;
    }

    #Name-details>div>h1 {
        font-size: 3.563rem;
    }

    #Name-details>div>p {
        font-size: 1.125rem;
    }

    #Social-Media-Pic>div {
        width: 34.063rem;
    }

    #Download-cv-btn>div {
        width: 34.063rem;
    }

    .liquid-shape {
        top: 16%;
        width: 115%;
        height: 115%;
    }

    /*--- About me Section ---*/

    #aboutMePara {
        width: 28.125rem;
        height: 13.75rem;
        font-size: 1.313rem;
    }

    #aboutMeImageDiv {
        width: 20.625rem;
        height: 31.875rem;
    }

    #aboutMeImage {
        width: 18.75rem;
        height: 30rem;
    }

    /*--- Skill Section ---*/

    #skill-img {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    /*--- Gallery Section ---*/

    .top-image-border-box {
        width: 17.5rem; /*280px*/
        height: 10rem; /*160px*/
    }

    .image {
        width: 16.25rem; /*260px*/
        height: 8.75rem; /*140px*/
    }



    #image-04-border-box {
        width: 16.25rem; /*260px*/
        height: 23.125rem; /*370px*/
    }

    #backImg04 {
        width: 15rem; /*240px*/
        height: 21.875rem; /*350px*/
    }


    .image-5-6-border-box {
        width: 16.25rem; /*260px*/
        height: 8.125rem; /*130px*/
    }

    .backImg-5-6 {
        width: 15rem; /*240px*/
        height: 6.875rem; /*110px*/
    }


    #image-07-border-box {
        width: 16.25rem; /*260px*/
        height: 23.125rem; /*370px*/
    }

    #backImg07 {
        width: 15rem; /*240px*/
        height: 21.875rem; /*350px*/
    }


    /*--- Contact Section ---*/

    #contact-bottom-left-Bottom>div>a {
        margin: 0 30px;
    }

}

@media all and (max-width: 960px)  {

    /*--- Hero Section ---*/

    #Name-details>div {
        width: 31.25rem;
    }

    #Name-details>div>h2 {
        font-size: 1.563rem;
    }

    #Name-details>div>h1 {
        font-size: 3.313rem;
    }

    #Name-details>div>p {
        font-size: 1.063rem;
    }

    #Social-Media-Pic>div {
        width: 31.25rem;
    }

    #Download-cv-btn>div {
        width: 31.25rem;
    }

    /*--- About Me Section ---*/

    #aboutMePara {
        width: 26.875rem;
        height: 13.75rem;
        font-size: 1.25rem;
    }

    #aboutMeImageDiv {
        width: 18.75rem;
        height: 30rem;
    }

    #aboutMeImage {
        width: 17.5rem;
        height: 28.125rem;
    }

    #horizontalLine {
        width: 0.938rem;
        height: 18.75rem;
    }


    /*--- Gallery Section ---*/

    .top-image-border-box {
        width: 14.375rem; /*230px*/
        height: 10rem; /*160px*/
    }

    .image {
        width: 13.125rem; /*210px*/
        height: 8.75rem; /*140px*/
    }



    #image-04-border-box {
        width: 10.625rem; /*170px*/
        height: 18.125rem; /*290px*/
    }

    #backImg04 {
        width: 9.375rem; /*150px*/
        height: 16.875rem; /*350px*/
    }



    .image-5-6-border-box {
        width: 11.25rem; /*180px*/
        height: 7.5rem; /*120px*/
    }

    .backImg-5-6 {
        width: 10rem; /*160px*/
        height: 6.25rem; /*100px*/
    }


    #image-07-border-box {
        width: 10.625rem; /*170px*/
        height: 18.125rem; /*290px*/
    }

    #backImg07 {
        width: 9.375rem; /*150px*/
        height: 16.875rem; /*350px*/
    }

    #image-04 {
        justify-content: center;
    }

    #image-07 {
        justify-content: center;
    }

    /*--- Contact Section ---*/

    #contact-bottom-left-Bottom>div>a {
        margin: 0 20px;
        width: 60px;
        height: 60px;
        font-size: 3.125rem; /*50px*/
    }

    #email-submit-btn>div>input {
        width: 7.5rem; /*120px*/
        height: 2.188rem; /*35px*/
        background-color: #00e5ff;
        font-size: 1rem; /*20px*/
    }

}

@media all and (max-width: 833px)  {

    /*--- Hero Section ---*/

    #Name-details>div {
        width: 25rem;
        height: 10rem;
        bottom: 0;
    }

    #Name-details>div>h2 {
        font-size: 1.5rem;
    }

    #Name-details>div>h1 {
        font-size: 2.5rem;
    }

    #Name-details>div>p {
        font-size: 0.938rem;
    }

    #Social-Media-Pic>div {
        width: 25rem;
    }

    #Download-cv-btn>div {
        width: 25rem;
    }

    #Social-Media-Pic>div>a {
        width: 40px;
        height: 40px;
    }

    #Download-cv-btn>div>button {
        width: 7.188rem;
        height: 2.5rem;
        font-size: 0.813rem;
    }

    #img-box>img {
        width: 300px;
    }

    #Hero-Main-Bottom-Left {
        grid-template-rows: 2fr .5fr 1fr;
        /*border: 2px solid red;*/
    }

    /*--- About Me Section ---*/

    #aboutMePara {
        width: 20.938rem;
        height: 9.063rem;
        font-size: 0.875rem;
        /*background-color: pink;*/
    }

    #aboutMeImageDiv {
        width: 14.375rem;
        height: 22.5rem;
    }

    #aboutMeImage {
        width: 13.125rem;
        height: 21.563rem;
    }

    .title {
        font-size: 2.375rem;
    }

    #horizontalLine {
        width: 0.625rem;
        height: 13.75rem;
    }

    /*--- Assignment Section ---*/

    #assignmentSection {
        width: 100vw;
        height: 260vh;
    }

    #assignment-Bottom {
        height: calc(260vh - (8.274rem + 3.625rem));
        display: grid;
        grid-template-columns: 1fr 1fr;
    }



}

@media all and (max-width: 768px)  {

    /*--- Hero Section ---*/

    #Name-details>div {
        width: 24.063rem;
    }

    #Social-Media-Pic>div {
        width: 24.063rem;
    }

    #Download-cv-btn>div {
        width: 24.063rem;
    }

    #img-box>img {
        width: 270px;
    }

    .liquid-shape {
        top: 20%;
        width: 120%;
        height: 120%;
    }

    /*--- Gallery Section ---*/

    .top-image-border-box {
        width: 11.25rem; /*180px*/
        height: 7.5rem; /*120px*/
    }

    .image {
        width: 10rem; /*160px*/
        height: 6.25rem; /*100px*/
    }

}

@media all and (max-width: 610px) {

    /*-- NavBar Styles --*/
    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: #000000;
        transition: all 0.2s ease-in-out;
    }
    .menu li {
        margin-top: 40px;
    }
    .menu li a {
        padding: 10px;
    }
    .open-menu , .close-menu {
        display: block;
    }
    #check:checked ~ .menu {
        right: 0;
    }


    /*--- Hero Section ---*/

    #Hero-Main-Bottom {
        grid-template-columns: 1fr;
    }

    #Hero-Main-Bottom-Left {
        grid-row: 2/3;
    }

    #img-box>img {
        width: 250px;
    }

    .liquid-shape {
        top: 0;
        width: 70%;
        height: 70%;
        left: 0;
        right: 0;
        margin: auto;
    }

    #Name-details>div {
        width: 31.25rem;
        height: 12.5rem;
    }

    #Name-details>div>h2 {
        font-size: 1.563rem;
    }

    #Name-details>div>h1 {
        font-size: 3.313rem;
    }

    #Name-details>div>p {
        font-size: 1.063rem;
    }

    #Social-Media-Pic>div {
        width: 31.25rem;
    }

    #Download-cv-btn>div {
        width: 31.25rem;
    }

    #Social-Media-Pic>div>a {
        width: 30px;
        height: 30px;
        font-size: 1.25rem;
    }

    #Download-cv-btn>div>button {
        width: 6.875rem;
        height: 2.188rem;
        font-size: 0.813rem;
    }

    #Name-details>div{
        bottom: 0;
    }

    #Hero-Main-Bottom-Left {
        grid-template-rows: 2fr 1fr 1fr;
        /*border: 2px solid red;*/
    }

    /*--- AboutMe Section ---*/

    #aboutMe-Bottom-Details {
        grid-template-rows: 1fr 2fr;
        /*background-color: pink;*/
    }

    #AboutMe-detail-left-Image {
        grid-row: 2/3;
    }

    #AboutMe-detail-right-Detail {
        width: 100vw;
        grid-template-columns: 1fr 3fr;
    }

    #aboutMePara {
        width: 23.75rem;
        height: 9.375rem;
        font-size: 0.938rem;
    }

    #aboutMeImageDiv {
        width: 15.625rem;
        height: 23.75rem;
    }

    #aboutMeImage {
        width: 14.375rem;
        height: 22.5rem;
    }

    #horizontalLine {
        width: 0.75rem;
        height: 13.75rem;
    }

    /*--- Skill Section ---*/

    .skills>div:first-child {
        width: 100px;
        font-size: 0.875rem;
    }

    /*--- Gallery Section ---*/

    .top-image-border-box {
        width: 9.375rem; /*180px*/
        height: 7.5rem; /*120px*/
    }

    .image {
        width: 8.125rem; /*130px*/
        height: 6.25rem; /*100px*/
    }

    #image-04-border-box {
        width: 9.375rem; /*150px*/
        height: 21.875rem; /*350px*/
    }

    #backImg04 {
        width: 8.125rem; /*130px*/
        height: 20.625rem; /*330px*/
    }

    .image-5-6-border-box {
        width: 9.375rem; /*150px*/
        height: 7.5rem; /*120px*/
    }

    .backImg-5-6 {
        width: 8.125rem; /*130px*/
        height: 6.25rem; /*100px*/
    }


    #image-07-border-box {
        width: 9.375rem; /*150px*/
        height: 21.875rem; /*350px*/
    }

    #backImg07 {
        width: 8.125rem; /*130px*/
        height: 20.625rem; /*330px*/
    }

    /*--- Gallery Section ---*/

    #contactSection {
        height: 180vh;
    }

    #contact-bottom {
        grid-template-columns: 1fr;
    }


    #contact-bottom-left-Bottom>div>a{
        width: 80px;
        height: 80px;
        font-size: 4.063rem; /*65px*/
        margin: 0 20px;
    }

    #contact-bottom-left {
        grid-template-rows: 1fr 0.8fr;
    }

    #contact-bottom-right>div {
        margin-left: 50px;
    }


    .input-small-field {
        width: 70vw;
    }

    #message {
        width: 70vw;

    }

    /*--- Assignment Section ---*/

    #assignmentSection {
        width: 100vw;
        height: 460vh;
    }

    #assignment-Bottom {
        height: calc(460vh - (8.274rem + 3.625rem));
        display: grid;
        grid-template-columns: 1fr;
    }

    .Assignment-box-Name {
        font-size: 20px;
    }
}

@media all and (max-width: 500px) {
    /*--- NavBar ---*/

    .logo>a>img {
        width: 6.25rem;
    }

    /*--- Hero Section ---*/
    #Name-details>div {
        width: 20.625rem;
        height: 8.125rem;
    }

    #Name-details>div>h2 {
        font-size: 1.25rem;
    }

    #Name-details>div>h1 {
        font-size: 2.188rem;
    }

    #Name-details>div>p {
        font-size: 0.75rem;
    }

    #Social-Media-Pic>div {
        width: 20.625rem;
    }

    #Download-cv-btn>div {
        width: 20.625rem;
    }

    #Social-Media-Pic>div>a {
        width: 30px;
        height: 30px;
    }

    #Download-cv-btn>div>button {
        width: 4.375rem;
        height: 1.25rem;
        font-size: 0.563rem;
    }

    /*--- AboutMe Section ---*/

    #aboutMePara {
        width: 19.438rem;
        height: 9.813rem;
        font-size: 0.875rem;
    }

    #aboutMeImageDiv {
        width: 14.063rem;
        height: 22.188rem;
    }

    #aboutMeImage {
        width: 12.813rem;
        height: 21.25rem;
    }

    .title {
        font-size: 1.875rem;
    }

    #horizontalLine {
        width: 0.563rem;
        height: 12.5rem;
    }

    /*--- Gallery Section ---*/

    #gallery-bottom-bottom {
        display: none;
    }

    #gallery-bottom {
        display: grid;
        grid-template-rows: 5fr 0.2fr;
        height: calc(100vh - (8.274rem + 3.625rem));
    }

    #gallery-bottom-top {
        display: grid;
        grid-template-columns: 1fr;
    }

    #image-01 {
        justify-content: center;
    }

    #image-03 {
        justify-content: center;
    }

    .top-image-border-box {
        width: 18.75rem; /*300px*/
        height: 12.5rem; /*200px*/
    }

    .image {
        width: 17.5rem; /*280px*/
        height: 11.25rem; /*180px*/
    }

}

@media all and (max-width: 430px) {
    /*--- AboutMe Section ---*/
    #AboutMe-detail-right-Detail {
        grid-template-columns: 0.5fr 3fr;
    }

    /*--- Skill Section ---*/

    #skill-img {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media all and (max-width: 390px) {

    /*--- Gallery Section ---*/

    .top-image-border-box {
        width: 17.5rem; /*280px*/
        height: 9.375rem; /*180px*/
    }

    .image {
        width: 16.25rem; /*280px*/
        height: 8.125rem; /*180px*/
    }
}

@media all and (max-width: 375px) {
    /*--- AboutMe Section ---*/
    #aboutMePara {
        width: 17.5rem;
        height: 10rem;
        font-size: 0.875rem;
    }

    #aboutMeImageDiv {
        width: 11.25rem;
        height: 15.625rem;
    }

    #aboutMeImage {
        width: 10rem;
        height: 14.688rem;
    }

    /*--- Gallery Section ---*/

    .top-image-border-box {
        width: 17.5rem; /*280px*/
        height: 9.375rem; /*180px*/
    }

    .image {
        width: 16.25rem; /*280px*/
        height: 8.125rem; /*180px*/
    }

    /*--- Contact Section ---*/

    #contact-bottom-left-Bottom>div>a{
        width: 60px;
        height: 60px;
        font-size: 3.125rem; /*50px*/
        margin: 0 20px;
    }

}





