.login-back {
    width: 100vw;
    height: 100vh;
    background-image: url("https://img.freepik.com/free-photo/artistic-blurry-colorful-wallpaper-background_58702-8622.jpg?t=st=1711695351~exp=1711698951~hmac=eb74ceb5c0983b7a20cf06705b214215e9d491b57b8903351091ed9bfda71f30&w=1380");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.position-signIn-card {
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.card-header {
    font-family: "Times New Roman";
    font-size: 35px;
    font-weight: bold;
}


.label-font-style{
    font-weight: bold;
    font-family: "Times New Roman";
    font-size: 20px;
    margin-bottom: 25px;
}

.button-style {
    width: 150px;
    margin: 50px 0;
}